src/europlan2.0/AdminApplication/bin/
src/europlan2.0/AdminApplication/obj/
src/europlan2.0/Application/bin/
src/europlan2.0/Application/obj/
src/europlan2.0/Common/bin/
src/europlan2.0/Common/obj/
src/europlan2.0/Setup/bin/
src/europlan2.0/Setup/obj/
src/europlan2.0/StartSetup/bin/
src/europlan2.0/StartSetup/obj/
src/europlan2.0/UnitTest/bin/
src/europlan2.0/UnitTest/obj/
*.suo
*.user
*.~lst
*.lsv
*.lsp
src/europlan2.0/updates/updates-ga-beta-de Updates/
src/europlan2.0/updates/updates-ga-beta-en Updates/
src/europlan2.0/updates/updates-ga-de Updates/
src/europlan2.0/updates/updates-ga-en Updates/
src/europlan2.0/Backup/
src/europlan2.0/.vs/
pub/
src/
